.navbar {
	padding: 5px 0;
	margin-bottom: 10px;
	background-color: #204f26;
}

.navbar-brand {
	color: #6fa825;
}

.navbar h1 {
	line-height: 45px;
	display: inline-block;
	color: #feffff;
}

.navbar-nav li {
	line-height: 50px;
}

.navbar-nav li a {
	color: #c0ddc0;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus,
.navbar-nav li a:active {
	background-color: #204f26;
	color: #6fa825;
}

#accordion {
    color: #e8f7d6;
    background-color: #119725; 
}

.panel {
	border: none;
}

.panel-default>.panel-heading {
	padding: 10px;
    color: #e8f7d6;
    background-color: #119725;
    border-color: transparent;
}

.panel-title span {
	margin-left: 20px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    color: #ddeadb;
    background-color: #225b29; 
    border-top-color: #225b29;
}

.panel-body li a {
	color: #e8f7d6;
	width: 100%;
	padding: 5px;
}

.panel-body li a:focus,
.panel-body li a:hover,
.panel-body li a:active {
	color: #fff;
	background-color: #6fa825;
}

.right-content .title {
	padding: 5px;
	height: 40px;
	color: #6fa825;
	border-bottom: 2px solid #e8e8e8;
}

.right-content .title .pull-left {
	color: #6fa825;
}
 
.right-content .title .pull-left span,
.right-content .title .pull-left h1,
.right-content .title .pull-left i {
	float: left;
	line-height: 40px;
}

.right-content .title .pull-left h1 {
	margin: 0 10px 0 0;
}

.right-content .title .pull-left span {
	color: #333;
}